@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 12px 40px;
  background: transparent;
  z-index: 50;
  position: fixed;
  @media (max-width: 768px) {
    padding: 8px;
    width: calc(100% - 40px);
    background: var(--black-60);
    left: 20px;
    top: 8px;
    border-radius: 8px;
  }
  .btn-merchant {
    height: 38px;
    min-width: 151px;
    span {
      display:inline-flex;
    }
    svg {
      display: none;
    }
    @media (max-width: 768px) {
      min-width: 0px;
      margin-right: 60px;
      padding: 4px 12px;
      span {
        display: flex;
      }
      svg {
        display: none;
      }
    }
  }
  .right-nav {
    @media (max-width: 768px) {
      margin-right: 60px;
    }
  }
  &.fixed {
    background: var(--black);
    .nav-container {
      background-color: transparent;
    }
    @media (max-width: 768px) {
      padding: 8px 20px;
      width: 100%;
      left: 0px;
      top: 0px;
      border-radius: 0px;
      height: 72px;
      .page-navigation {
        right: 20px;
      }
      .btn-merchant {
        margin-right: 50px;
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      img {
        width: 40px;
        height: 46px;
      }
    }
  }
  &.blackbg  {
    background: var(--black);
    position: fixed;
    .nav-container {
      background-color: transparent;
    }
    @media (max-width: 768px) {
      padding: 8px 20px;
      width: 100%;
      left: 0px;
      top: 0px;
      border-radius: 0px;
      height: 72px;
      .page-navigation {
        right: 20px;
      }
      .btn-merchant {
        margin-right: 50px;
      }
    }
  }
  .page-navigation {
    position: absolute;
    @media (max-width: 768px) {
      right: 16px;
    }
  }
}