*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  text-size-adjust: none;
}
body {
  overflow-x:hidden;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}
a {
  text-decoration: none;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
  padding-left: 0px;
  margin:0px;
}
p {
  text-align: left;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
  height: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}
